/*
	Table of Contents:
	
		1.	initial setup and removing default styles
		2.	main stylesheet for the page

*/


/* ==== 1. Initial setup ==== */



// TESTING BORDER
.wrapper, .header, .banner, .main-container, .contact, .footer {
	//@include border;
}

body {
	// remove default margin
	margin: 0;
}

// Setup the basics for the rest of the stylesheet.
div {
	// This will remove the resizing of the element on hover
	// when a border is added or changes in width.
	box-sizing: border-box;
	// Since we work with CSS grid and use some classes that require
	// certain settings to be on an element to work properly,
	// this part is absolutely necessary.
	display: grid;
	position: relative;
}

// Remove default styling for lists while leaving the posibility open
// by using the .default class on the element.
ul:not(.default) {
	@extend div;

	padding: 0;
	margin: 0;

	// this removes the bullet points from lists
	list-style: none;
	
	& > li {
		padding: 0;
		margin: 0;

		// this removes the bullet points from lists
		list-style: none;
	}
}

button:not(.default) {

	&, &:hover, &:active, &:focus {
		@extend div;
		@include border-radius;

		padding: .5em 1em;
		margin: 0;
		align-items: normal;

		background-color: transparent;
		outline: none;
		font-family: inherit;
		font-size: 1em;
		line-height: 1.5em;
	}

	&.primary-btn {
		color: $white-50;
		background-color: $primary-color;
		border: none;

		&:hover {
			background-color: $primary-color-light;
		}
	}

	&.secondary-btn {
		color: $white;
		border: solid 2px $white;

		&:hover {
			color: $primary-color;
			border-color: $primary-color;
		}
	}
}

input:not(.default), textarea:not(.default) {
	@extend div;
	//@include border;
	@include border-radius;

	padding: .5em 5px;
	margin: 0;
	min-width: 200px;

	border: none;

	&:focus, &:hover, &:invalid {
		outline: none;
	}

	&, &::placeholder {
		font-family: "Arial";
	}
}

a:not(.default) {
	display: inline;
	width: auto;
	height: auto;

	text-decoration: none;
	color: inherit;

	// Show that this is a link by changing the cursor
	// to a pointing hand.
	cursor: pointer;

	// Sometimes you want the link to fit the content,
	// but in cases where it's preferable for it to fit
	// it's container, this can be done by using the
	// .stretch class on the <a> element.
	&.stretch {
		@extend [data-stretch=XY];
	}
}

tiny {
	font-size: .7em;
}

fieldset {
	border: none;
}

.divider {
	margin: 0;
	padding: 0;

	&.horizontal {
		@extend [data-stretch=X];
		height: 0;
		margin: 10px 0;
		
		border-top: solid 1px $white-10;
	}

	&.vertical {
		@extend [data-stretch=Y];
		width: 0;
		margin: 0 10px;

		border-right: solid 1px $white-10;
	}
}


/*	All images are in two containers:
	First container hides overflow with data-scroll=none
	Second container wraps around the image and fills the whole parent with it

	This is set by default for images where width >= height.
	To override it and fill the container for images where height > width
	use the .vertical class on the first container.

*/
.img-container {
	// hide overflow
	@extend [data-scroll=none];

	& > .img {
		@extend [data-align=abs-center];
	}

	/*&.vertical {
		& > .img {
			// position the image parent correctly
			@extend [data-align=abs-center];
			// stretch the image to fit by width,
			// height may overflow
			@extend [data-stretch=X];
			
			& > img {
				// position the image correctly
				@extend [data-align=abs-center];
				// fit image to parent's width
				@extend [data-stretch=X];
			}
		}
	}*/
}


/* ==== 2. Stylesheet ==== */



.wrapper {
	grid-template-columns: auto;

	font-family: "Myriad Pro", sans-serif;
	font-size: 18px;
}

.header {
	@extend [data-stretch=X];

			// FUCK FUCK fix this shit bro, the main-title is not in the middle
			// when the logo and navbar have different widths
	
	position: fixed;
	//height: 50px;
	grid-template-columns: auto auto 1fr auto;
	//transform: translateY(100%);

	background-color: $primary-color-dark;
	color: $white-75;

	z-index: 100;

	& > .logo {
		// place in the left column
		grid-column: 1;
		width: 2.5em;
		height: 2.5em;
		margin: 0 10px;
		
		& > * {
			// align with left edge
			@extend [data-align=W];
		}
	}

	& > .main-title {
		// place in the middle column
		grid-column: 2;

		cursor: default;
		
		& > * {
			// align to the middle
			@extend [data-align=E];
			margin: 0 10px;

			transform: translateY(10%);
		}
	}

	& > .navbar {
		// place in the right column
		grid-column: 3;
		
		& > * {
			// align to the right
			@extend [data-align=E];
		}
	}
}

.banner {
	@extend [data-stretch=X];
	@extend [data-scroll=none];

	height: 100vh;

	background-color: $primary-color;

	& > .img-container {
		@extend [data-stretch=XY];

		position: absolute;			

		&:nth-child(1) {
			background-color: $grey;
		}

		&:nth-child(2) {
			//transform: translateX(100%);
			margin-left: 100%;

			background-color: $orange;
		}

		&:nth-child(3) {
			//transform: translateX(200%);
			margin-left: 200%;
			
			background-color: $deepPink;
		}
	}
}

.main-container {
	grid-gap: 50px;
	margin: 0 auto 0 auto;
	min-width: 90%;

	& > .container {
		grid-gap: 30px;

		// alternate between placing the image left and right
		&:nth-child(2n) {
			grid-template-areas:
				"title	image"
				"text	image";
			grid-template-columns: 1fr auto;
		}

		&:nth-child(2n - 1) {
			grid-template-areas:
				"image	title"
				"image	text";
			grid-template-columns: auto 1fr;
		}

		& > .container-text {
			margin: 20px;

			& > span {
				// stretch text from edge to edge
				text-align: justify;
			}
		}
	}
}

ul.menu {
	& > li {
		& > a {
			& > button {
				cursor: pointer;

				color: $white-50 !important;
				border-radius: 0 !important;

				&, &:hover, &:active, &:focus {
					border: none !important;
				}

				&:hover {
					background-color: $white-20 !important;
					color: $white !important;
				}
			}
		}
	}
	&.horizontal {
		& > li {
			grid-row: 1;
		}
	}
}

.navbar {

}

.dropdown {
	//grid-gap: 5px;
	padding: 0 10px;

	& > .drop-btn {
		//padding: 0 10px;

		border-radius: 0 !important;

		&:hover {
			background-color: $orange;

			& * {
				color: $white;
			}
		}
	}

	& > .dropdown-content {
		@extend [data-align=abs-outside-Sright];

		display: none;

		//background-color: red;

		ul {
		
		}
	}
}

.main-title {
	font-weight: bold;
	letter-spacing: 8px;
}

.section-banner {
	@extend [data-stretch=X];

	padding: 25px 10%;

	background-color: $lightBlue;

	color: $white;

	& > .container {
		@extend [data-stretch=X];

		max-width: $page-width;
		justify-items: start;

		& > .title {
			
			font-family: "Arial", sans-serif;
			font-size: 2.5em;
			font-style: bold;
		}

		& > .subtitle {			
			color: $white-75;
			font-family: "Arial";
			font-size: .75em;
			text-transform: uppercase;
		}
	}
}

.main-container {
	@extend [data-stretch=X];

	padding-bottom: 50px;

	& > .container {
		background-color: $black-10;

		& > .img-container {
			grid-area: image;
			// aspect ratio of the placeholder screenshots is 1:1.10437
			width: 550px;
			height: 330px;
		}
	}
}

#navDropdown {
	@extend [data-stretch=Y];

	& > .drop-btn {
		@extend [data-stretch=Y];

		//min-height: 100%;

		color: $white-75;
		border: none;

		& > * {
			grid-row: 1;
		}

		& > i {
			//color: red !important;
			display: none;
		}
	}
}

.contact-container {
	grid-template-columns: 2fr auto auto 2fr 1fr;
	grid-gap: 50px;
	padding: 50px;

	background-color: $black-50;
	font-family: $text-font;

	& > .reach-us {
		@extend [data-align=E];
		
		& > .title {
			margin: auto;

			color: $white-50;
			//font-style: italic;
			text-transform: capitalize;
		}

		& > #contact {
			grid-gap: 10px;
			margin: auto;
		}

		fieldset {
			& > * {
				margin: auto;
			}
		}

		button {
			width: fit-content;
			margin: auto;
		}

		#reachUsStepTwo {
			display: none;
		}

		#reachUsStepThree {
			display: none;
		}

		textarea {
			width: 20vw;
			height: 15vh;
		}

		.popup-container {
			grid-template-columns: auto auto;
			grid-template-rows: auto auto;

			& textarea {
				grid-column: 1/3;
				grid-row: 1;
			}
		}
	}

	& > .divider.horizontal {
		margin: 0 50px;
	}

	& > .contact-info {
		color: $white-50;

		& > .title {
			text-transform: capitalize;
		}

		& > *:not(.title) {
			&:hover {
				color: $white-75;
				cursor: default;
			}
		}

	}

	iframe {
		@extend div;
		@include border(5px, $white);
		@include border-radius(5px);
		@include shadow(3px, 6px, $black-20);
		
		border-width: 10px 20px;
	}
}

.popup {
	@extend [data-scroll=Y];

	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	right: 0;
	z-index: 150;

	background-color: $black-75;

	& > .popup-container {
		//@include border-radius(5px);
		
		width: fit-content;
		margin: auto;

		//padding: 15px 20px;

		background-color: $white-50;
	}
}

.step-buttons {
	padding: 10px 0;
	width: fit-content;
	grid-gap: 10px;
	margin: auto;

	& > * {
		grid-row: 1;
		width: 10px;
		height: 10px;
		margin: auto;

		background-color: $white-50;
		border-radius: 50%;

		&:hover {
			background-color: $white;
		}

		&.active {
			background-color: $black-50;
		}
	}
}

.footer {
	background-color: $primary-color-dark;
	color: $white-75;
	padding-top: 20px;

	& > span {
		margin: auto;

		color: $white-20;
		font-style: italic;
	}
		
	& > ul {
		@extend [data-stretch=Y];
		@extend [data-align=center];

		padding: 15px;
		grid-gap: 25px;

		& > li {
			@extend [data-align=center];
			
			grid-row: 1;
			width: 40px;
			height: 40px;

			background-color: $white-10;
			border-radius: 50%;
			color: inherit;
			font-size: 1.2em;

			& > a {
				@extend [data-stretch=XY];
				@extend [data-align=center];

				text-align: center;

				& > i {
					@extend [data-stretch=XY];
					@extend [data-align=center];

					line-height: 40px;
				}
			}

			&:hover {
				color: white;

				&.facebook {
					background-color: #3b5998;
				}
				
				&.twitter {
					background-color: #0084b4;
				}

				&.google-plus {
					background-color: #d34836;
				}
			}
		}
	}
}

.underfooter {
	padding: 5px 20px;

	background-color: $primary-color-dark;
	color: $white-20;

	& > * {
		margin: auto;
	}
}

