/*
	Contains all the main (s)css components.

	Use only to link to other scss stylesheets
	and scss functions and variables.
	

	- DO NOT use to define styles here -


	Table of contents:

		1. "Clean slate" settings
		2. General variables and base parts
		3. Style settings
		4. Page specific adjustments
		5. Wrongly placed accidentally on purpose
*/
/*
	This is a collection of common mixins.
	It is here to allow easy cross-browser
	compatibility and speed up the writing
	of classes.
*/
/*
	These are the main color variables.

	Some are commonly used all over,
	other are user defined for quick access.
*/
/*
	These are the most common variables that
	will be used all over the linked scss files.

	Table of contents:

	1. Colors
	2. Media query setup

*/
[data-stretch=X], .divider.horizontal, .header, .banner, .section-banner, .section-banner > .container, .main-container {
  width: 100% !important;
  width: -moz-available !important; }

[data-stretch=Y], .divider.vertical, #navDropdown, #navDropdown > .drop-btn, .footer > ul {
  height: 100% !important;
  height: -moz-available !important; }

[data-stretch=XY], a.stretch:not(.default), .banner > .img-container, .footer > ul > li > a, .footer > ul > li > a > i {
  width: 100% !important;
  width: -moz-available !important;
  height: 100% !important;
  height: -moz-available !important; }

[data-scroll=X] {
  overflow-x: auto !important;
  overflow-y: hidden !important; }

[data-scroll=Y], .popup {
  overflow-x: hidden !important;
  overflow-y: auto !important; }

[data-scroll=XY] {
  overflow-x: auto !important;
  overflow-y: auto !important; }

[data-scroll=none], .banner, .img-container {
  overflow: hidden; }

/*
	Table of contents>

	1. Absolute elements
		1.1 Center on the parent element
		1.2 Inside the parent element
			1.2.1 Touching the parent side's center
			1.2.2 Corner-to-corner with the parent element
		1.3 Outside the parent element
			1.3.1 Touching the parent side's center
			1.3.2 Touching the parent side's corner
			1.3.3 Corner-to-corner with the parent element
	2. Grid item elements
		2.1 Center on the parent element
		2.2 Touching the parent side
		2.3 Corner-to-corner with the parent element
*/
/*
	Change position to absolute for elements
	containing the data-align attribute
	whose value begins with "abs-".
*/
[data-align^="abs-"] {
  position: absolute !important; }

[data-align=abs-center], .img-container > .img {
  right: 50% !important;
  bottom: 50% !important;
  transform: translateX(50%) translateY(50%) !important; }

[data-align=abs-inside-N] {
  top: 0 !important;
  right: 50% !important;
  transform: translateX(50%) !important; }

[data-align=abs-inside-S] {
  bottom: 0 !important;
  right: 50% !important;
  transform: translateX(50%) !important; }

[data-align=abs-inside-E] {
  right: 0 !important;
  bottom: 50% !important;
  transform: translateY(50%) !important; }

[data-align=abs-inside-W] {
  left: 0 !important;
  bottom: 50% !important;
  transform: translateY(50%) !important; }

[data-align=abs-inside-NE] {
  right: 0 !important;
  top: 0 !important; }

[data-align=abs-inside-top-NW] {
  left: 0 !important;
  top: 0 !important; }

[data-align=abs-inside-SE] {
  right: 0 !important;
  bottom: 0 !important; }

[data-align=abs-inside-SW] {
  left: 0 !important;
  bottom: 0 !important; }

[data-align=abs-outside-N] {
  right: 50% !important;
  top: 0 !important;
  transform: translateX(50%) translateY(-100%) !important; }

[data-align=abs-outside-S] {
  right: 50% !important;
  bottom: 0 !important;
  transform: translateX(50%) translateY(100%) !important; }

[data-align=abs-outside-E] {
  left: 100% !important;
  bottom: 50% !important;
  transform: translateY(50%) !important; }

[data-align=abs-outside-W] {
  left: 0 !important;
  bottom: 50% !important;
  transform: translateX(-100%) translateY(50%) !important; }

[data-align=abs-outside-Nright] {
  right: 0 !important;
  top: 0 !important;
  transform: translateY(-100%) !important; }

[data-align=abs-outside-Nleft] {
  left: 0 !important;
  top: 0 !important;
  transform: translateY(-100%) !important; }

[data-align=abs-outside-Sright], .dropdown > .dropdown-content {
  right: 0 !important;
  bottom: 0 !important;
  transform: translateY(100%) !important; }

[data-align=abs-outside-Sleft] {
  left: 0 !important;
  bottom: 0 !important;
  transform: translateY(100%) !important; }

[data-align=abs-outside-Etop] {
  left: 100% !important;
  top: 0 !important; }

[data-align=abs-outside-Ebottom] {
  left: 100% !important;
  bottom: 0 !important; }

[data-align=abs-outside-Wtop] {
  left: 0 !important;
  top: 0 !important;
  transform: translateX(-100%) !important; }

[data-align=abs-outside-Wbottom] {
  left: 0 !important;
  bottom: 0 !important;
  transform: translateX(-100%) !important; }

[data-align=abs-outside-NE] {
  right: 0 !important;
  top: 0 !important;
  transform: translateX(100%) translateY(-100%) !important; }

[data-align=abs-outside-NW] {
  left: 0 !important;
  top: 0 !important;
  transform: translateX(-100%) translateY(-100%) !important; }

[data-align=abs-outside-SE] {
  right: 0 !important;
  bottom: 0 !important;
  transform: translateX(100%) translateY(100%) !important; }

[data-align=abs-outside-SW] {
  left: 0 !important;
  bottom: 0 !important;
  transform: translateX(-100%) translateY(100%) !important; }

[data-align=center], .header > .main-title > *, .footer > ul, .footer > ul > li, .footer > ul > li > a, .footer > ul > li > a > i {
  justify-self: center !important;
  align-self: center !important; }

[data-align=N] {
  align-self: start !important;
  justify-self: center !important; }

[data-align=S] {
  align-self: end !important;
  justify-self: center !important; }

[data-align=E], .header > .navbar > * {
  align-self: center !important;
  justify-self: end !important; }

[data-align=W], .header > .logo > * {
  align-self: center !important;
  justify-self: start !important; }

[data-align=NE] {
  align-self: start !important;
  justify-self: end !important; }

[data-align=NW] {
  align-self: start !important;
  justify-self: start !important; }

[data-align=SE] {
  align-self: end !important;
  justify-self: end !important; }

[data-align=SW] {
  align-self: end !important;
  justify-self: start !important; }

/*
	Table of Contents:
	
		1.	initial setup and removing default styles
		2.	main stylesheet for the page

*/
/* ==== 1. Initial setup ==== */
body {
  margin: 0; }

div, ul:not(.default), button:not(.default), button:not(.default):hover, button:not(.default):active, button:not(.default):focus, input:not(.default), textarea:not(.default) {
  box-sizing: border-box;
  display: grid;
  position: relative; }

ul:not(.default) {
  padding: 0;
  margin: 0;
  list-style: none; }
  ul:not(.default) > li {
    padding: 0;
    margin: 0;
    list-style: none; }

button:not(.default), button:not(.default):hover, button:not(.default):active, button:not(.default):focus {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: .5em 1em;
  margin: 0;
  align-items: normal;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  font-size: 1em; }
button:not(.default).primary-btn {
  color: rgba(255, 255, 255, 0.5);
  background-color: #444;
  border: none; }
  button:not(.default).primary-btn:hover {
    background-color: #888; }
button:not(.default).secondary-btn {
  color: white;
  border: solid 2px white; }
  button:not(.default).secondary-btn:hover {
    color: #444;
    border-color: #444; }

input:not(.default), textarea:not(.default) {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: .5em 5px;
  margin: 0;
  min-width: 200px;
  border: none; }
  input:not(.default):focus, input:not(.default):hover, input:not(.default):invalid, textarea:not(.default):focus, textarea:not(.default):hover, textarea:not(.default):invalid {
    outline: none; }
  input:not(.default), input:not(.default)::placeholder, textarea:not(.default), textarea:not(.default)::placeholder {
    font-family: "Arial"; }

a:not(.default) {
  display: inline;
  width: auto;
  height: auto;
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

tiny {
  font-size: .7em; }

fieldset {
  border: none; }

.divider {
  margin: 0;
  padding: 0; }
  .divider.horizontal {
    height: 0;
    margin: 10px 0;
    border-top: solid 1px rgba(127, 127, 127, 0.2); }
  .divider.vertical {
    width: 0;
    margin: 0 10px;
    border-right: solid 1px rgba(127, 127, 127, 0.2); }

/* ==== 2. Stylesheet ==== */
.wrapper {
  grid-template-columns: auto;
  font-family: "Myriad Pro", sans-serif;
  font-size: 18px; }

.header {
  position: fixed;
  height: 50px;
  grid-template-columns: auto 1fr auto;
  background-color: #222;
  color: rgba(255, 255, 255, 0.75);
  z-index: 100; }
  .header > .logo {
    grid-column: 1; }
  .header > .main-title {
    grid-column: 2;
    cursor: default; }
  .header > .navbar {
    grid-column: 3; }

.banner {
  height: 100vh;
  background-color: #444; }
  .banner > .img-container {
    position: absolute; }
    .banner > .img-container:nth-child(1) {
      background-color: #7f7f7f; }
    .banner > .img-container:nth-child(2) {
      margin-left: 100%;
      background-color: #ff7f00; }
    .banner > .img-container:nth-child(3) {
      margin-left: 200%;
      background-color: #ff007f; }

.main-container {
  grid-gap: 50px;
  margin: 0 auto 0 auto;
  min-width: 90%; }
  .main-container > .container {
    grid-gap: 30px; }
    .main-container > .container:nth-child(2n) {
      grid-template-areas: "title	image" "text	image";
      grid-template-columns: 1fr auto; }
    .main-container > .container:nth-child(2n - 1) {
      grid-template-areas: "image	title" "image	text";
      grid-template-columns: auto 1fr; }
    .main-container > .container > .container-text {
      margin: 20px; }
      .main-container > .container > .container-text > span {
        text-align: justify; }

/*	All images are in two containers:
	First container hides overflow with data-scroll=none
	Second container wraps around the image and fills the whole parent with it

	This is set by default for images where width >= height.
	To override it and fill the container for images where height > width
	use the .vertical class on the first container.

*/
.img-container {
  /*&.vertical {
  	& > .img {
  		// position the image parent correctly
  		@extend [data-align=abs-center];
  		// stretch the image to fit by width,
  		// height may overflow
  		@extend [data-stretch=X];
  		
  		& > img {
  			// position the image correctly
  			@extend [data-align=abs-center];
  			// fit image to parent's width
  			@extend [data-stretch=X];
  		}
  	}
  }*/ }

.dropdown {
  padding: 0 10px; }
  .dropdown > .drop-btn {
    border-radius: 0 !important; }
    .dropdown > .drop-btn:hover {
      background-color: #ff7f00; }
      .dropdown > .drop-btn:hover * {
        color: white; }
  .dropdown > .dropdown-content {
    display: none; }

.main-title {
  font-weight: bold;
  letter-spacing: 8px; }

.section-banner {
  padding: 25px 10%;
  background-color: #007fff;
  color: white; }
  .section-banner > .container {
    max-width: 1200px;
    justify-items: start; }
    .section-banner > .container > .title {
      font-family: "Arial", sans-serif;
      font-size: 2.5em;
      font-style: bold; }
    .section-banner > .container > .subtitle {
      color: rgba(255, 255, 255, 0.75);
      font-family: "Arial";
      font-size: .75em;
      text-transform: uppercase; }

.main-container > .container {
  background-color: rgba(0, 0, 0, 0.1); }
  .main-container > .container > .img-container {
    grid-area: image;
    width: 550px;
    height: 330px; }

#navDropdown > .drop-btn {
  color: rgba(255, 255, 255, 0.75);
  border: none; }
  #navDropdown > .drop-btn > * {
    grid-row: 1; }
  #navDropdown > .drop-btn > i {
    display: none; }

.contact-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px; }
  .contact-container > .reach-us > span {
    margin: auto;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5); }
  .contact-container > .reach-us > #contact {
    grid-gap: 10px;
    margin: auto; }
  .contact-container > .reach-us fieldset > * {
    margin: auto; }
  .contact-container > .reach-us button {
    width: fit-content;
    margin: auto; }
  .contact-container > .reach-us #reachUsStepTwo {
    display: none; }
  .contact-container > .reach-us #reachUsStepThree {
    display: none; }
  .contact-container > .reach-us textarea {
    width: 20vw;
    height: 15vh; }
  .contact-container > .reach-us .popup-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; }
    .contact-container > .reach-us .popup-container textarea {
      grid-column: 1/3;
      grid-row: 1; }

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 150;
  background-color: rgba(0, 0, 0, 0.75); }
  .popup > .popup-container {
    width: fit-content;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5); }

.step-buttons {
  padding: 10px 0;
  width: fit-content;
  grid-gap: 10px;
  margin: auto; }
  .step-buttons > * {
    grid-row: 1;
    width: 10px;
    height: 10px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%; }
    .step-buttons > *:hover {
      background-color: white; }
    .step-buttons > *.active {
      background-color: rgba(0, 0, 0, 0.5); }

.footer {
  background-color: #222;
  color: rgba(255, 255, 255, 0.75);
  padding-top: 20px; }
  .footer > span {
    margin: auto;
    color: rgba(255, 255, 255, 0.2);
    font-style: italic; }
  .footer > ul {
    padding: 15px;
    grid-gap: 25px; }
    .footer > ul > li {
      grid-row: 1;
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      color: inherit;
      font-size: 1.2em; }
      .footer > ul > li > a {
        text-align: center; }
        .footer > ul > li > a > i {
          line-height: 40px; }
      .footer > ul > li:hover {
        color: white; }
        .footer > ul > li:hover.facebook {
          background-color: #3b5998; }
        .footer > ul > li:hover.twitter {
          background-color: #0084b4; }
        .footer > ul > li:hover.google-plus {
          background-color: #d34836; }

.underfooter {
  padding: 5px 20px;
  background-color: #222;
  color: rgba(255, 255, 255, 0.2); }
  .underfooter > * {
    margin: auto; }

div, ul:not(.default), button:not(.default), button:not(.default):hover, button:not(.default):active, button:not(.default):focus, input:not(.default), textarea:not(.default) {
  box-sizing: border-box;
  display: grid;
  position: relative; }

/*# sourceMappingURL=main.css.map */
