/*
	These are the main color variables.

	Some are commonly used all over,
	other are user defined for quick access.
*/

$black: black;
$black-10: rgba(0,0,0,.1);
$black-20: rgba(0,0,0,.2);
$black-30: rgba(0,0,0,.3);
$black-50: rgba(0,0,0,.5);
$black-75: rgba(0,0,0,.75);

$white: white;
$white-10: rgba(255,255,255,.1);
$white-20: rgba(255,255,255,.2);
$white-30: rgba(255,255,255,.3);
$white-50: rgba(255,255,255,.5);
$white-75: rgba(255,255,255,.75);